<div class="container main-container">
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h2>Register New Instructor</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="form-group register-form-group col-md-6">
				<label class="col-md-6 label-layout field-label-responsive"for="e-mail">E-mail</label>
				<div class="input-group">
					<div class="input-group-addon" style="width: 2.6rem">
						<i class="fa fa-envelope"></i>
					</div>
					<%= f.email_field :email, class: "form-control", placeholder: "you@example.com", autofocus: true, autocomplete: "email" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group register-form-group col-md-6">
				<label class="col-md-3 label-layout field-label-responsive"for="password">Password</label>
				<% if @minimum_password_length %>
				<em>(<%= @minimum_password_length %> chars minimum)</em>
				<% end %>
				<div class="input-group">
					<div class="input-group-addon" style="width: 2.6rem">
						<i class="fa fa-key"></i>
					</div>
					<%= f.password_field :password, class: "form-control", placeholder: "Your password", autocomplete: "off" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group register-form-group col-md-6">
				<label class="col-md-6 label-layout field-label-responsive"for="password_confirm">Confirm Password</label>						
				<div class="input-group">
					<div class="input-group-addon" style="width: 2.6rem">
						<i class="fa fa-repeat"></i>
					</div>
					<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password", autocomplete: "off" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group register-form-group col-md-6">
				<label class="col-md-6 label-layout field-label-responsive" for="first_name">Firstname</label>						
				<div class="input-group">
					<div class="input-group-addon" style="width: 2.6rem">
						<i class="fa fa-address-book"></i>
					</div>
					<%= f.text_field :first_name, class: "form-control", placeholder: "Your firstname", autofocus: true %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group register-form-group col-md-6">
				<label class="col-md-6 label-layout field-label-responsive" for="last_name">Lastname</label>						
				<div class="input-group">
					<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-address-book-o"></i></div>
					<%= f.text_field :last_name, class: "form-control", placeholder: "Your lastname", autofocus: true %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group register-form-group col-md-6">
				<label class="col-md-6 label-layout field-label-responsive" for="citizen_id">Citizen ID</label>						
				<div class="input-group">
					<div class="input-group-addon" style="width: 2.6rem">
						<i class="fa fa-address-card"></i>
					</div>
					<%= f.text_field :citizen_id, class: "form-control", placeholder: "Your citizenID", autofocus: true %>
				</div>
			</div>
		</div>
		<div class="row">	
			<div class="form-group register-form-group col-md-6">
				<label class="col-md-6 label-layout field-label-responsive"for="instructor_id">Instructor ID</label>						
				<div class="input-group">
					<div class="input-group-addon" style="width: 2.6rem">
						<i class="fa fa-id-card-o"></i>
					</div>
					<%= f.text_field :instructor_id, class: "form-control", placeholder: "Your instructorID", autofocus: true %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group register-form-group col-md-6">
				<label class="col-md-6 label-layout field-label-responsive" for="department">Department</label>						
				<div class="input-group">
					<div class="input-group-addon" style="width: 2.6rem">
						<i class="fa fa-mortar-board"></i>
					</div>
					<%= f.text_field :department, class: "form-control", placeholder: "Your department", autofocus: true %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<%= f.button fa_icon("user-plus", text: "Sign up"), type: :submit, class: "btn btn-success" %>
			</div>
		</div>
	<% end %>
</div>