<div class="container main-container">
  <div class="row">
    <div class="col-6">
      <h2>Course Description</h2><br />
      
      <h3>Course Name</h3><br />
      <p><%= @course.name %></p>

      <h3>Course ID</h3><br />
      <p><%= @course.course_id %></p>
      <% if !readyApply?(current_user.first_name) %> 
        <%= link_to apply_course_path(@course), class: 'btn btn-success', method: :post do %>
        <i class="fa fa-check"></i> Apply
        <% end %>
      <% end %>
      <%= link_to courses_path, class: 'action btn btn-danger' do %>
        <i class="fa fa-repeat"></i> Back
      <% end %>
    </div><br /><br />
    <div class="col-6">
      <h2>Course Subscribe Member</h2>
      <% @course.users.each do |course| %>
          <%= course.first_name %><br />
      <% end %>
    </div>
  </div>

</div>