<!DOCTYPE html>
<html>
  <head>
    <title>Uble</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.production? %>
      <%= javascript_include_tag('google-analytics.js') %>
    <% end %>

  </head>

  <body>
    <div class="container-wrapper">
      <%= render partial: 'shared/nav' %>
      <%= yield %>
      <%= render partial: 'shared/footer' %>
    </div>
  </body>
</html>
