<div class="container main-container">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Register New Student</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="email">E-Mail</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
            <%= f.email_field :email, class: "form-control", placeholder: "you@example.com", autofocus: true, autocomplete: "email" %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
            <!-- Put e-mail validation error messages here -->
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">Password</label>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> chars minimum)</em>
          <% end %>
      </div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><i class="fa fa-key"></i></div>
            <%= f.password_field :password, class: "form-control", placeholder: "Your password", autocomplete: "off" %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">

          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">Confirm Password</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><i class="fa fa-repeat"></i></div>
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password", autocomplete: "off" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="name">Firstname</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><i class="fa fa-address-book"></i></div>
            <%= f.text_field :first_name, class: "form-control", placeholder: "Your firstname", autofocus: true %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
            <!-- Put name validation error messages here -->
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="name">Lastname</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><i class="fa fa-address-book-o"></i></div>
            <%= f.text_field :last_name, class: "form-control", placeholder: "Your lastname", autofocus: true %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
            <!-- Put name validation error messages here -->
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="name">Citizen ID</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><i class="fa fa-address-card"></i></div>
            <%= f.text_field :citizen_id, class: "form-control", placeholder: "Your citizenID", autofocus: true %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
            <!-- Put name validation error messages here -->
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="name">Student ID</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
            <%= f.text_field :student_id, class: "form-control", placeholder: "Your studentID", autofocus: true %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
            <!-- Put name validation error messages here -->
          </span>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= f.button fa_icon("user-plus", text: "Sign up"), type: :submit, class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>